<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsl6LeacwJV4w5codnZXfk2yrBTs6PH3o</string>
	<key>GCM_SENDER_ID</key>
	<string>203828997296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.columbia.brazil-final-project</string>
	<key>PROJECT_ID</key>
	<string>diaryapp-a84d3</string>
	<key>STORAGE_BUCKET</key>
	<string>diaryapp-a84d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203828997296:ios:4f11df78e32b5f00b95f75</string>
</dict>
</plist>